{% extends 'MYapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12">
    <div class="ul col-8 p-3" style="background-color: white;">
        <fieldset class="form-group">
            <legend class="font-weight-bold ">Reset password</legend>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <button type="submit" class="btn btn-outline-success">Reset my password</button>
            </form>

        </fieldset>
        
    </div>
    <a href="{% url 'homepage' %}" class="btn btn-outline-info mt-2">Home page</a>
</div>
{% endblock content %}