{% extends 'MYapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12">
    <div class="ul col-8 p-3" style="background-color: white;">
        <fieldset class="form-group">
            <legend class="font-weight-bold p-2 ">Enter new password</legend>
            <p>Please enter your new password twice so we can verify you typed it in correctly.  </p>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field | as_crispy_field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-success">Change my password</button>
            </form>

        </fieldset>
        
    </div>
    <a href="{% url 'homepage' %}" class="btn btn-outline-info mt-2">Home page</a>
</div>
{% endblock content %}