{% extends 'MYapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12">
    <div class="ul col-12 " style="background-color: white;">
        <fieldset class="form-group">
            <legend class="text-muted p-2 font-weight-bold ">Reset password sent</legend>
            <p class="p-2"> We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                
                </p>
            
                <a href="{% url 'homepage' %}" class="btn btn-outline-info">Home page</a>
        </fieldset>
    </div>
</div>
{% endblock content %}