{% extends 'MYapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12">
    <div class="ul col-12 " style="background-color: white;">
        <fieldset class="form-group">
            <legend class="text-muted p-2 font-weight-bold ">Reset password complete</legend>
            <p class="p-2">Your password has been set. You may go ahead and log in now.

            </p>
            
                <a href="{% url 'homepage' %}" class="btn btn-outline-info">Home page</a>
        </fieldset>
    </div>
</div>
{% endblock content %}